@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #5DB996;
    color: #FBF6E9;   
}

.capa {
    margin: 8% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo_destaque {
    color: #118B50;
}

.eu {
    border: solid #4B5945;
    border-width: 8px;
}

.capa__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.capa__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.capa__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.capa__conteudo__botoes {
    display: flex;
    justify-content: space-between;
}

.capa__conteudo__botoes__estilo {
    background-color: #118B50;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}